@import './vendor/sidebar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color: white !important;
    overflow-y: hidden !important;
}

body {
    color: white !important;
}